{% extends "base.html" %}
{% block content %}
<h1 class="title">
  DISEASE PREDICTION SYSTEM
</h1>
<p class="subtitle">
  This project helps in depiction of the prediction of disease supported symptoms victimisation machine learning. Its implementation is completed through the python programming language. The project tries to implement the simplest algorithmic program based on their accuracy. The accuracy of an algorithm is decided by the performance on the given dataset. Early detection of preventable diseases is very important for higher disease management, improved interventions, and additional efficient health-care resource allocation. The aim is to acknowledge trends across varied kinds of supervised models in sickness detection through the examination of performance metrics , produce interactive programs to let an user opt for the symptoms  observed and acquire recommendation of specialized doctors, thereby obtaining treatment at an early stage.
</p>
{% endblock %}

